:root {
    --primary: #18ace6e7;
    --secondary: #00b66f;
    --white: #ffffff;
    --dark: #dcdcdd;
    --dark-gray: #dcdcdcea;
    --light-gray: #dcdcdcc5;
    --back_circle_1:radial-gradient(218.51% 281.09% at 100% 100%, rgba(253, 63, 51, 0.6) 0%, rgba(76, 0, 200, 0.6) 45.83%, rgba(76, 0, 200, 0.6) 100%);
    --back_circle_2:linear-gradient(rgb(117, 224, 230) 0%, rgb(57, 19, 184) 100%);

    --bg: #232323;
    --hero-bg:rgba(0,0,0,.2);
    --blur: 100px;

    --padding-x: 5%;

    --border: rgb(255 255 255 / 20%);

    --bg-3:rgba(0, 0, 0, .1);
    --bg-4:rgba(0, 0, 0, .5);
    --bg-5:rgba(0, 0, 0, .1);
    --bg-7:rgba(0, 0, 0, .48);

    --modal-close-bg:#00000041;
    --nav-icon-bg:#00000041;

    --modal-btn-bg: rgba(0, 0, 0, 0.691);

    --inter: 'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;

}
