@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

/* #preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 23;
  background: #00081f url("../images/preloader.webp") no-repeat center center;
  background-size: 40%;
} */

/* just remove predefined style for each element  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgba(255, 0, 72, 0.47);
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* code for aniamtion on scroll */
/* .animation__pause
{
    opacity: 0;
    filter: blur(10px);
    translate: -110% 0%;
    transition: all 0.7s;
}

.animation__play
{
    opacity: 1;
    filter: blur(0px);
    translate: 0% 0%;
} */

/* modal */
.modal-login {
  position: absolute;
  top: -50%;
  left: 50%;
  min-width: 250px;
  transform: translate(-50%, -50%);
  padding: 5%;
  z-index: 21;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  font-family: var(--inter);
  color: var(--white);
  background: transparent;
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
  border: 5px solid var(--modal-btn-bg);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.modal-active {
  top: 50%;
}

#modal__close {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  background: var(--modal-close-bg);
  border-radius: 5px;
  cursor: pointer;
}

#modal-login .logo {
  margin: 0 auto;
}

#modal-login p {
  font-size: 1.4rem;
  margin: 0 auto;
  color: var(--primary);
  font-weight: 500;
  text-transform: capitalize;
}

#modal-login a {
  padding: 0.7em 2em;
  border-radius: 10px;
  background: var(--modal-btn-bg);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--dark);
}

#modal-login a:hover {
  background: var(--secondary);
  color: var(--white);
}

#modal-login ion-icon {
  margin-right: 10px;
  font-size: 20px;
}

#modal-login a img {
  margin-right: 10px;
  width: 20px;
}

#modal-login button {
  background: transparent;
  font-size: 0.9em;
  font-weight: 500;
}

#modal-login button span:last-child {
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

/* make modal responsie */

@media screen and (max-width: 650px) {
  .modal-login {
    width: 100%;
    min-height: 100vh;
  }

  .modal-login .logo {
    width: 40px;
  }

  .modal-login #modal-title {
    font-size: 17px;
  }

  .modal-login #modal__close {
    width: 30px;
  }
}

/* bottom navbar only for {small device} */
.bottom_navbar {
  position: fixed;
  width: 100%;
  bottom: 0%;
  padding-block: 0.6em;
  background: var(--bottom-navbar-bg);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  display: none;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 18;
}

.bottom_navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: var(--light-gray);
  transition: all 0.5s ease-in-out;
}

.bottom_navbar a > ion-icon {
  --ionicon-stroke-width: 30px;
}

.bottom_navbar a.active {
  color: var(--nav-text-color);
  font-weight: 400;
}

.bottom_navbar a.active ion-icon {
  --ionicon-stroke-width: 45px;
}

.bottom_navbar a:hover {
  color: var(--secondary-btn);
  font-weight: 400;
}

.bottom_navbar a:hover ion-icon {
  --ionicon-stroke-width: 45px;
}

a span.nav__text {
  display: none;
  margin-top: 3px;
  font-size: 0.5em;
  font-family: var(--inter);
  text-transform: capitalize;
  transition: hover 0.5s ease-in-out;
}

a.active span.nav__text {
  display: inline;
}

a:hover span.nav__text {
  display: inline;
}

@media screen and (max-width: 700px) {
  .bottom_navbar {
    display: flex;
  }
}

/* main container */
.container {
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  overflow: hidden;
  z-index: 1;
}

.container::after {
  content: "";
  position: fixed;
  top: -5%;
  right: -10%;
  width: 40%;
  height: 60%;
  background: var(--back_circle_1);
  border-radius: 79% 21% 93% 7% / 62% 21% 79% 38%;
  transform: rotate(180deg);
  z-index: -10;
  filter: blur(var(--blur));
}

.container::before {
  content: "";
  position: fixed;
  bottom: -5%;
  left: -10%;
  width: 40%;
  height: 60%;
  background: var(--back_circle_2);
  border-radius: 48% 52% 93% 7% / 62% 15% 85% 38%;
  transform: rotate(180deg);
  z-index: -9;
  filter: blur(var(--blur));
}

header {
  width: 100vw;
  padding: 20px var(--padding-x);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

#menu__icon {
  display: none;
  width: 30px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__image {
  width: 40px;
}

.logo__txt {
  margin-left: 10px;
  font-family: var(--roboto);
  font-size: 1.4em;
  font-weight: 700;
  color: var(--primary-logo-text);
}

.logo__txt span {
  color: var(--secondary-logo-text);
}

.right-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.btn-login {
  padding: 0.7em 1.5em;
  background: var(--primary-btn);
  color: var(--white);
  font-family: var(--inter);
  font-size: 1em;
  font-weight: 500;
  border-radius: 18px;
  box-shadow: 0px 5px 60px var(--primary-btn);
}

.btn-login:hover {
  background: var(--secondary-btn);
  box-shadow: 0px 5px 60px var(--secondary-btn);
}

.theme-toggler {
  display: flex;
  align-items: center;
  padding: 0.3em;
  margin-left: 10px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 1.7em;
  --ionicon-stroke-width: 30px;
  background: var(--primary-btn);
  border-radius: 50%;
  box-shadow: 0px 5px 60px var(--primary-btn);
}

.theme-toggler:hover {
  background: var(--secondary-btn);
  box-shadow: 0px 5px 60px var(--secondary-btn);
}

@media screen and (max-width: 700px) {
  .btn-login {
    padding: 0.7em 1.4em;
    background: var(--primary-btn);
    color: var(--white);
    font-family: var(--inter);
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 18px;
    box-shadow: 0px 2.5px 30px var(--primary-btn);
  }

  .theme-toggler {
    display: flex;
    align-items: center;
    padding: 0.43em;
    margin-left: 10px;
    color: var(--white);
    font-family: var(--inter);
    font-size: 1.3em;
  }
}

/* main section */

main {
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.sidebar {
  /* max-width: 300px; */
  min-width: 300px;
  height: 90vh;
  grid-column: 1/3;
  border-right: 1px solid var(--border);
  padding: 2em 1em;
  overflow-x: hidden;
  overflow: scroll;
}

.content {
  height: 90vh;
  grid-column: 3/13;
  overflow: scroll;
  scroll-behavior: smooth;
}

ul.side__navbar {
  border-bottom: 3px solid var(--light-gray);
  padding-bottom: 1em;
}

ul.side__navbar a {
  margin: 8px;
  color: var(--light-gray);
  font-family: var(--roboto);
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}

ul.side__navbar a li {
  padding: 8px 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}

.active li {
  color: var(--dark-gray);
  font-weight: 900;
  border-radius: 12px;
}

.active li ion-icon {
  color: var(--primary);
}

ul.side__navbar a li:hover {
  background: var(--primary-btn);
  color: var(--white);
  border-radius: 12px;
}

ul.side__navbar a li:hover ion-icon {
  color: var(--white);
}

ul.side__navbar a li ion-icon {
  font-size: 1.5em;
  font-weight: 900;
  --ionicon-stroke-width: 40px;
}

/* style for drop-down menu*/
.dropdown-content {
  display: none;
  flex-direction: column;
  background: var(--bg-7);
  border-radius: 5px;
}

.toggle {
  display: flex;
}

.toogle__arrow {
  transform: rotate(90deg);
}

.side__navbar:nth-child(2) {
  margin-top: 2em;
}

.side__navbar p {
  margin: 8px;
  font-family: var(--inter);
  font-size: 1em;
  font-weight: 700;
  color: var(--light-gray);
}

.dropdown-btn {
  margin: 8px;
  padding: 8px 16px;
  color: var(--light-gray);
  font-family: var(--inter);
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  /* white-space: nowrap; */
  /* overflow-x:hidden ; */
}

.dropdown-btn:hover {
  background: var(--primary-btn);
  color: var(--white);
}

.dropdown-content a {
  padding: 10px 15px;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background: var(--secondary-btn);
  color: var(--white);
  border-radius: 5px;
}

/* make sidebar responsive */

@media screen and (max-width: 800px) {
  .logo__txt {
    display: none;
  }

  #menu__icon {
    width: 35px;
    background: var(--nav-icon-bg);
    display: block;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
  }

  main {
    display: block;
    z-index: -1;
  }

  .sidebar {
    position: absolute;
    left: -250%;
    background: var(--bg-7);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .sidebar__toggle {
    left: 0%;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100vw;
  }
}

/* hero section  */

.hero__section {
  position: relative;
  padding-top: 3%;
  padding-inline: 3%;
}

.hero__section::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--secondary);
  filter: blur(500px);
  z-index: -2;
}

.hero__section::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background: var(--primary);
  filter: blur(500px);
  z-index: -2;
}

.hero__img {
  width: 100%;
  max-height: 500px;
}

.hero__txt {
  width: 100%;
  background: var(--hero-bg);
  padding: 2em 2.5em 1em 2.5em;
  border-radius: 5px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.hero__txt p.title {
  text-align: center;
  font-family: var(--roboto);
  font-size: 3em;
  font-weight: 600;
}

.hero__txt p.title span:first-child {
  color: var(--primary);
}

.hero__txt p.title span:last-child {
  color: var(--secondary);
}

.hero__txt p.desc {
  margin-top: 1em;
  max-width: 800px;
  margin: 1em auto 0;
  font-family: var(--inter);
  color: var(--light-gray);
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.6em;
}

.btn-register {
  margin: 30px;
  padding: 1em 3.2em;
  background: var(--secondary-btn);
  color: var(--white);
  font-family: var(--inter);
  font-size: 1.2em;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 18px;
  box-shadow: 0px 0px 50px var(--secondary-btn);
  white-space: nowrap;
}

.btn-register:hover {
  background: var(--primary-btn);
  box-shadow: 0px 0px 50px var(--primary-btn);
  cursor: pointer;
}

/* make hero section responsive */

@media screen and (max-width: 700px) {
  .hero__txt {
    font-size: 0.6em;
  }
}

/* Community Description section */

.community__desc {
  margin-top: 7%;
  padding-left: 3%;
  padding-block: 5%;
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  border-top: 3px solid var(--bg-5);
  border-bottom: 3px solid var(--bg-5);
}

.community__desc p.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: var(--roboto);
  font-size: 3em;
  font-weight: 600;
  grid-column: 1/6;
  width: 100%;
  height: 50%;
  color: var(--dark);
}

.card__container {
  grid-column: 6/13;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.community__desc p.title span:first-child {
  color: var(--primary-btn);
  /* background: var(--white); */
  padding: 0 5px;
  border-radius: 10px;
  background: var(--bg-4);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}

.community__desc p.title span:last-child {
  /* background: var(--white); */
  background: var(--bg-4);
  padding: 0 5px;
  border-radius: 10px;
  color: var(--secondary);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}

/* card styling */

.card__container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4em 2.5em;
  background: var(--bg-7);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.card__container .card:hover,
.card:first-child {
  background: var(--hover-light-gray);
}

.card__container .card:hover .card__icon,
.card:first-child .card__icon {
  background: var(--white);
}

.card__container .card:hover p.card__title,
.card:first-child p.card__title {
  color: var(--white);
}

.card__container .card:hover .card__desc,
.card:first-child .card__desc {
  color: var(--white);
}

.card__container .card::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: -10%;
  left: 0%;
  border-radius: 50%;
  background: var(--primary);
  filter: blur(100px);
  z-index: -1;
}

.card__container .card::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: -10%;
  right: 0%;
  border-radius: 50%;
  background: var(--secondary);
  filter: blur(100px);
  z-index: -1;
}

.card .card__icon {
  padding: 20px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.card .card__title {
  margin-top: 1.5em;
  font-family: var(--roboto);
  font-size: 1.4em;
  font-weight: 500;
  color: var(--primary);
  text-align: left;
}

.card__container .card__desc {
  margin-top: 1em;
  font-family: var(--inter);
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--dark-gray);
  text-align: left;
}

/* make hero section responsive */

@media screen and (max-width: 1400px) {
  .community__desc {
    margin-top: 7%;
    padding-inline: 3%;
  }

  .card__container {
    grid-column: 1/13;
  }

  .community__desc p.title {
    grid-column: 1/13;
    place-items: center;
    width: 100%;
    margin: 1em auto;
  }
}

@media screen and (max-width: 700px) {
  .card__container {
    padding-inline: 0%;
  }

  .community__desc {
    padding-inline: 3%;
  }

  .community__desc p.title {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 640px) {
  .card__container {
    grid-template-columns: 1fr;
    padding-inline: 3%;
    gap: 2em;
  }
}

/* live session section */
.live__meet {
  position: relative;
  padding-top: 7%;
  padding-inline: 3%;
  padding-bottom: 3%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: var(--card--bg);
  overflow: hidden;
}

.live__meet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  filter: blur(80px);
  z-index: -1;
  background: var(--back_circle_1);
}

.live__meet::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  filter: blur(80px);
  z-index: -1;
  background: var(--back_circle_2);
}

.live__meet p.title {
  grid-column: 1/13;
  text-align: center;
  margin-block: 1em;
  font-family: var(--roboto);
  font-size: 2em;
  font-weight: 600;
  color: var(--primary);
}

img.meeting_img {
  grid-column: 1/13;
  width: 100%;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 20px;
}

ul.brief__points {
  margin-top: 3%;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

li.point {
  padding: 20px;
  min-width: 300px;
}

li.point p.title {
  text-align: left;
  color: var(--primary);
  font-family: var(--inter);
  font-size: 1.4em;
  font-weight: 600;
}

li.point p.desc {
  color: var(--dark);
  font-family: var(--roboto);
  font-size: 1.2em;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  ul.brief__points {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  ul.brief__points {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* owner detsils section */
.owner__details {
  margin-top: 7%;
  padding-inline: 3%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.owner__details .card {
  position: relative;
  grid-column: 1/6;
  background: url("../images/hitesh_sir_2.webp") no-repeat;
  background-size: cover;
  background-position: center;
}

.owner__details .owner__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  grid-column: 6/13;
  background: transparent;
  background: var(--bg-3);
  /* backdrop-filter: blur(30px); */
  overflow: hidden;
}

.owner__details .owner__info::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background: var(--primary);
  filter: blur(500px);
  z-index: -1;
}

.owner__details .owner__info::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--secondary);
  filter: blur(500px);
  z-index: -1;
}

.card .card__img {
  width: 100%;
}

.card .designation {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--white);
  font-family: var(--roboto);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.icons {
  position: absolute;
  bottom: -1%;
  width: 100%;
  padding: 0.6em;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.icons .icon:not(.icon:first-child) {
  margin-left: 2em;
}

.icons .icon img {
  width: 30px;
  background: var(--bg-3);
  border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
  animation: blob 2s linear infinite;
}

@keyframes blob {
  100%,
  0% {
    border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
  }

  25% {
    border-radius: 62% 38% 83% 17% / 66% 59% 41% 34%;
  }

  50% {
    border-radius: 27% 73% 47% 53% / 49% 77% 23% 51%;
  }

  75% {
    border-radius: 27% 73% 47% 53% / 49% 77% 23% 51%;
  }
}

.owner__details .owner__info {
  padding: 3em 2em;
}

.owner__info p.name {
  font-size: 3em;
  font-weight: 500;
  /* color: rgba(0, 0, 0, .5); */
  color: var(--primary);
  font-family: var(--roboto);
}

.owner__info img {
  margin-top: 6px;
  max-width: 120px;
  max-height: 35px;
  background: var(--bg-7);
  padding: 5px;
}

.owner__info p.info {
  max-width: 600px;
  margin-top: 0.5em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: var(--inter);
  color: var(--dark);
  /* color: var(--secondary); */
  /* color: rgba(0, 0, 0, .5); */
}

.owner__info p.tags {
  max-width: 400px;
  margin-top: 0.5em;
  font-family: var(--roboto);
  color: var(--dark);
  font-size: 1.1em;
  font-weight: 500;
}

.owner__info p.tags span {
  font-family: var(--roboto);
  color: var(--primary);
  font-weight: 700;
}

/* make owner section responsive */

@media screen and (max-width: 1350px) {
  .owner__details .card {
    grid-column: 1/13;
    min-height: 300px;
  }

  .owner__details .owner__info {
    grid-column: 1/13;
  }

  @media screen and (max-width: 700px) {
    .owner__info p.name {
      font-size: 1.8em;
    }
  }
}

/* Group List style */

.group__list {
  margin-top: 7%;
  padding-inline: 3%;
}

.group__list p.title {
  gap: 2em;
  margin-block: 1em;
  font-family: var(--roboto);
  font-size: 2em;
  font-weight: 600;
  color: var(--primary);
}

.group__list p.title span {
  color: var(--secondary);
}

p.title span.badge {
  background: var(--bg-5);
  color: var(--primary);
  font-size: 0.4em;
  padding: 0.5em 0.8em;
  border-radius: 10px;
}

/* siwpper js default style */
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .card {
  position: relative;
  background: var(--bg-5);
  border-radius: 5px;
  max-width: 225px;
  padding: 0.7em 0.5em;
  cursor: pointer;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  overflow: hidden;
}

.swiper-slide .card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: var(--primary);
  filter: blur(120px);
  z-index: -1;
}

.swiper-slide .card::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 10%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: var(--secondary);
  filter: blur(100px);
  z-index: -1;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin: 20px auto;
  position: relative;
}

/* swipper js default style ended */

.swiper-slide .card .card__image img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.swiper-slide .card .card__content {
  padding: 0.8em 0.5em 0.2em 0.5em;
}

.swiper-slide .card__content p.title {
  margin-top: 0.1em;
  font-family: var(--roboto);
  color: var(--primary);
  font-size: 0.8em;
  text-align: left;
  min-height: 38px;
}

.swiper-slide .card__content p.desc {
  margin-top: 0.1em;
  text-align: left;
  font-family: var(--inter);
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 0.7em;
}

.card__content .card__bottom {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.card__content p {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: var(--inter);
  font-size: 0.7em;
}

.card__content p .people__icon {
  color: var(--secondary-btn);
}

.card__bottom .card__btn {
  padding: 0.3em 0.6em;
  color: var(--secondary-btn);
  background: var(--bg-4);
  font-size: 0.7em;
  font-family: var(--roboto);
  font-weight: 600;
  border-radius: 5px;
}

.card__bottom .card__btn:hover {
  color: var(--white);
  background: var(--secondary);
  border-radius: 5px;
}

.card__bottom p {
  color: var(--dark);
}

.next_btn_card {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -0%);
  background: var(--primary-btn);
  color: var(--white);
  padding: 10px;
  font-size: 2em;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.prev_btn_card {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -5%);
  padding: 10px;
  background: var(--secondary-btn);
  font-size: 2em;
  color: var(--white);
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .group__list p.title {
    font-size: 1.8em;
  }

  .prev_btn_card {
    position: absolute;
    top: 50%;
    left: 9.5%;
    transform: translate(-50%, -0%);
  }

  .next_btn_card {
    position: absolute;
    top: 50%;
    right: calc(100% - 105%);
    transform: translate(-50%, -0%);
  }
}

/* testimonial section */

.testimonial {
  position: relative;
  margin-top: 7%;
  background: var(--bg-5);
  padding: 3%;
  background: url("../images/bg.webp") no-repeat;
  background-size: 50%;
  background-position: 168% -150%;
}

.testimonial .swiper {
  overflow: hidden;
}

.testimonial p.title {
  margin-top: 0.1em;
  padding: 0.5em 0em 1em;
  font-family: var(--roboto);
  color: var(--primary);
  font-size: 2em;
  font-weight: 600;
  text-align: left;
}

.testimonial p.title span {
  border-top: 7px solid var(--secondary);
}

@media screen and (max-width: 700px) {
  .group__list p.title {
    font-size: 1.8em;
  }
}

.testimonial__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.testimonial__image {
  grid-column: 1/6;
  /* padding: 3em 2em; */
}

.testimonial__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial__cotent {
  padding: 3em;
  grid-column: 6/13;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: url("../images/bg.webp") no-repeat;
  background-size: 50%;
  background-position: 168% -120%;
}

.testimonial__cotent img {
  width: 30px;
}

.testimonial__cotent .testimonial__desc {
  margin-top: 1em;
  max-width: 450px;
  text-align: justify;
  font-size: 1em;
  font-family: var(--inter);
  font-weight: 600;
  color: var(--dark-gray);
}

.testimonial__cotent p.name {
  margin-top: 2em;
  color: var(--primary);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 0.9em;
}

.testimonial__cotent p.profession {
  font-family: var(--inter);
  font-weight: 500;
  font-size: 0.8em;
  color: var(--secondary);
}

.next_btn {
  position: absolute;
  top: 80%;
  right: 10%;
  background: var(--primary-btn);
  opacity: 0.8;
  color: var(--white);
  padding: 10px;
  font-size: 2em;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.prev_btn {
  position: absolute;
  top: 80%;
  left: 75%;
  padding: 10px;
  background: var(--secondary-btn);
  opacity: 0.8;
  font-size: 2em;
  color: var(--white);
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
}

@media screen and (max-width: 1180px) {
  .testimonial__image {
    grid-column: 1/13;
  }

  .testimonial__cotent {
    grid-column: 1/13;
  }
}

@media screen and (max-width: 700px) {
  .testimonial__cotent .testimonial__desc {
    font-size: 0.8em;
  }

  .testimonial__cotent {
    padding: 5%;
  }
}

@media screen and (max-width: 1100px) {
  .next_btn {
    position: absolute;
    top: 40%;
    right: 5%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: var(--primary-btn);
  }

  .prev_btn {
    position: absolute;
    top: 40%;
    left: 5%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: var(--secondary-btn);
  }
}

/* FAQ section */

.FAQ {
  margin-top: 7%;
  padding-inline: 5%;
  display: grid;
  min-width: 100%;
  grid-template-columns: repeat(12, 1fr);
  /* gap: 2em;
        overflow:hidden; */
}

.faq__image {
  grid-column: 1/7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.faq__image img {
  width: 90%;
  object-fit: contain;
}

.faq__content {
  grid-column: 7/13;
}

.faq__content .title {
  font-family: var(--roboto);
  font-size: 2em;
  font-weight: 600;
  color: var(--primary-btn);
  margin-bottom: 1em;
}

.q__and__a {
  border-bottom: 3px solid var(--border);
}

.q__and__a .question {
  margin-top: 2em;
  padding: 0 2% 0 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto);
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  color: var(--dark);
}

.q__and__a .answer {
  max-width: 100%;
  margin: 0.7em 0 1em 0;
  font-family: var(--inter);
  font-weight: 500;
  font-size: 0.9em;
  color: var(--dark-gray);
}

.q__and__a .answer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease;
  text-align: justify;
}

.q__and__a.active .answer {
  max-height: 300px;
}

@media screen and (max-width: 1280px) {
  .faq__image {
    grid-column: 1/13;
    display: grid;
    place-items: center;
  }

  .faq__image img {
    width: 50%;
  }

  .faq__content {
    grid-column: 1/13;
  }
}

@media screen and (max-width: 700px) {
  .FAQ .faq__content .title {
    font-size: 1.8em;
  }

  .faq__image img {
    width: 70%;
    margin-bottom: 2em;
  }
}

/* app section */
.app {
  margin-top: 7%;
  padding-inline: 5%;
  padding-block: 5%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  background: var(--app--bg);
}

.app__content {
  grid-column: 1/7;
}

.app__mockup {
  grid-column: 7/13;
}

.app__content p.title {
  text-align: center;
  color: var(--primary);
  font-size: 3em;
  font-family: var(--inter);
  font-weight: 700;
}

.app__content p.title span {
  color: var(--secondary);
}

.app__content .btn__container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.app__content .btn__container .btn {
  padding: 5px 30px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.btn .btn__text .small__text {
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.btn .btn__text .large__text {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}

img.app__mockup {
  width: 200px;
}

@media screen and (max-width: 700px) {
  .app {
    padding-top: 4em;
  }

  .app__content {
    grid-column: 1/14;
  }

  .app__mockup {
    margin-top: 2em;
    grid-column: 1/13;
  }

  .app__content p.title {
    font-size: 2.5rem;
  }
}

/* footer */

footer {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-4);
  border-top: 2px solid var(--border);
  padding: 2em;
}

footer .footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--inter);
  font-size: 1.3em;
  font-weight: 600;
  color: var(--primary);
}

.footer__logo img {
  width: 35px;
  margin-right: 5px;
}

.footer__links {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer__links a {
  color: var(--dark);
  font-size: 1em;
  font-family: var(--roboto);
}

.footer__tag__line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 0.8em;
  color: var(--dark);
  font-family: var(--roboto);
}

.footer__tag__line span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__tag__line span:last-child img {
  width: 80px;
  height: 19px;
}

.footer__tag__line ion-icon {
  color: #ff0000;
}

@media screen and (max-width: 700px) {
  .footer__tag__line {
    margin-bottom: 30px;
  }
}
